* {
  box-sizing: border-box;
  --transparent: #f7f4f1ee;
  --light-color: #f7f4f1;
  --medium-color: #eee8e4;
  --dark-color: #e6ddd6;
  --darker-color: #ddd2c9;
  --title-light: #b8a391;
  --title-dark: #9c8066;
  --font-light: #70635a;
  --dark-font-color: #615a54;
  --font-dark: #413c39;
}

body {
  margin: 0;
  background-color: white;
}

/* App and background-overlay */
.app {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  min-height: 100vh;
  padding: 10px 30px 10px 30px;
}
.background-overlay {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e6ddd669;
  z-index: 1;
}

.resume {
  /* margin: 10px 0 10px 30px; */
  background-color: var(--transparent);
  z-index: 10;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: solid 1px var(--darker-color);
  height: fit-content;
}

/* Font and color for section title and section info */
.title {
  font-family: 'Karla';
  color: var(--title-light);
}
.info {
  font-family: 'Inter';
  color: var(--font-light);
  font-size: 13px;
}

/* Credits */
.credits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 340px;
  gap: 10px;
  font-size: 13px;
  color: var(--title-dark);
  font-family: 'Garamond';
  background-color: rgba(255, 255, 255, 0.432);
  margin: 0 0 -30px 0;
}
