* {
  box-sizing: border-box;
  --transparent: #f7f4f1ee;
  --light-color: #f7f4f1;
  --medium-color: #eee8e4f6;
  --dark-color: #e6ddd6;
  --darker-color: #ddd2c9;
  --title-light: #b8a391;
  --title-dark: #9c8066;
  --font-light: #70635a;
  --dark-font-color: #615a54;
  --font-dark: #413c39;
}

.form {
  min-height: 100vh;
  position: relative;
  width: 392px;
  z-index: 10;
  margin: 10px 0 10px 25px;
  margin-left: 25px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.274);
  border: solid 1px var(--darker-color);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
/* Form section titles */
.form h4 {
  margin-bottom: 5px;
  font-size: 20px;
  color: var(--title-dark);
  /* text-shadow: 0 0 10px var(--title-dark), -1px 1px 0 var(--title-light),
    1px 1px 0 var(--title-light), 1px -1px 0 var(--title-light),
    -1px -1px 0 var(--title-light); */
}

/* Input and textarea */
.form input {
  margin-right: 12px;
  margin-bottom: 6px;
  width: 162px;
  /* */
  height: 30px;
}
.form input,
.form textarea,
#add-button {
  border: none;
  border-radius: 5px;
  background-color: var(--transparent);
  border: solid 1px transparent;
  box-shadow: 0 1px 3px 0 var(--title-dark);
  color: var(--title-dark);
  padding-left: 10px;
  font-size: 16px;
}
/* Hovering */
.form input:hover,
.form textarea:hover {
  border-color: var(--title-light);
}
/* Focus */
.form input:focus,
.form textarea:focus {
  outline: none;
  background-color: white;
}
/* Placeholder font color */
.form input::placeholder,
.form textarea::placeholder {
  color: var(--title-dark);
}

.form--contact {
  margin-bottom: 32px;
}

.form--main textarea {
  margin-left: 2.5px;
}
#add-button {
  width: 100px;
  height: 30px;
  margin: auto;
  margin-top: 3px;
  display: block;
  cursor: pointer;
  font-family: 'Inter';
}
#add-button:hover {
  border-color: var(--title-light);
}
#add-button:active {
  /* border-color: var(--title-light); */
  background-color: white;
  transform: translateY(1px);
  box-shadow: 0 0 3px 0 var(--title-dark);
}
