* {
  box-sizing: border-box;
  --transparent: #f7f4f1ee;
  --light-color: #f7f4f1;
  --medium-color: #eee8e4f6;
  --dark-color: #e6ddd6;
  --darker-color: #ddd2c9;
  --title-light: #b8a391;
  --title-dark: #9c8066;
  --font-light: #70635a;
  --dark-font-color: #615a54;
  --font-dark: #413c39;
}

.form {
  min-height: 100vh;
  position: relative;
  width: 392px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.274);
  border: solid 1px var(--darker-color);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
/* Form section titles */
.form h4 {
  margin-bottom: 4px;
  font-size: 20px;
  color: var(--title-dark);
  /* text-shadow: 0 0 10px var(--title-dark), -1px 1px 0 var(--title-light),
    1px 1px 0 var(--title-light), 1px -1px 0 var(--title-light),
    -1px -1px 0 var(--title-light); */
}

/* Input and textarea */
.form input {
  margin-right: 12px;
  margin-bottom: 6px;
  width: 162px;
  height: 30px;
}
.form input,
.form textarea,
#add-button,
li button {
  border: none;
  border-radius: 5px;
  background-color: var(--transparent);
  border: solid 1px transparent;
  box-shadow: 0 1px 3px 0 var(--title-dark);
  color: var(--title-dark);
  padding-left: 10px;
  font-size: 16px;
}
/* Hovering */
.form input:hover,
.form textarea:hover {
  border-color: var(--title-light);
}
/* Focus */
.form input:focus,
.form textarea:focus {
  outline: none;
  background-color: white;
}
/* Placeholder font color */
.form input::placeholder,
.form textarea::placeholder {
  color: var(--title-dark);
}

.form--contact {
  margin-bottom: 32px;
}

.form--main textarea {
  margin-left: 2.5px;
}
#add-button {
  width: 100px;
  height: 30px;
  margin: auto;
  margin-top: 3px;
  display: block;
  cursor: pointer;
  font-family: 'Inter';
}
#add-button:hover {
  border-color: var(--title-light);
}
#add-button:active {
  background-color: white;
  transform: translateY(1px);
  box-shadow: 0 0 3px 0 var(--title-dark);
}

/* Experience & Education fields deletion */
ul {
  margin-top: 22px;
  border: solid 1px transparent;
  box-shadow: 0 1px 3px 0 var(--title-dark);
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 10px;
  padding: 25px;
}
ul .title {
  text-align: center;
  margin-top: -15px;
  font-family: 'Garamond';
  margin-bottom: 1px;
}
li {
  height: 40px;
  font-size: large;
  font-family: 'Karla';
  color: var(--title-dark);
}
.form--fields li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: fit-content;
  gap: 15px;
}
.form--fields li button {
  background-image: url(../assets/icon.png);
  background-position: center;
  height: 18px;
  width: 18px;
  cursor: pointer;
  margin-bottom: 4px;
}
.form--fields li button:hover {
  border-color: var(--title-light);
}
.form--fields li button:active {
  transform: translateY(1px);
  box-shadow: 0 0 3px 0 var(--title-dark);
}

/* Print button */
#download {
  position: absolute;
  top: 62px;
  right: 28px;
  height: 26px;
  cursor: pointer;
}
