.main {
  width: 580px;
  padding: 35px;
}
/* Info Section */
.main--info {
  margin-left: 50px;
  font-family: 'Karla';
}
.main--info-name {
  display: flex;
  gap: 16px;
  letter-spacing: -2px;
  color: var(--title-light);
}
.main--info-name h1 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 50px;
  font-family: 'Times New Roman';
  letter-spacing: 1.6px;
  font-weight: 900;
}
.main--info-name h1:last-child {
  font-weight: lighter;
}
.main--info h3 {
  margin-top: -5px;
  color: var(--title-dark);
  letter-spacing: 5px;
  margin-bottom: 34px;
  border-bottom: 1px solid var(--title-light);
}
.main--info h4 {
  color: var(--title-light);
  margin-bottom: -5px;
}
.main--info p {
  color: var(--font-light);
  font-family: 'Garamond';
  font-size: 15px;
  text-align: justify;
  line-height: 18px;
}

/* Education & Experience Sections */
.main--category {
  display: flex;
  flex-direction: column;
}
.main--category h3 {
  border-bottom: 1px solid var(--title-light);
  margin-bottom: 6px;
}
.main--category-field {
  display: flex;
  gap: 20px;
  margin-bottom: 8px;
}
.field-left {
  width: 180px;
  overflow: hidden;
}
.field-left .title,
.field-right .title {
  margin-bottom: -4px;
  color: var(--title-dark);
}
.field-right {
  width: 400px;
  overflow: hidden;
}
.field-right p:first-child {
  margin-bottom: -12px;
}
.info.activity {
  color: var(--font-light);
  font-family: 'Garamond';
  font-size: 15px;
  text-align: justify;
  line-height: 18px;
}
